html,body{
    margin: 0px;
    width: 100%;
    height: 100%;
    font-family: KaiTi;
}
.gameBody{
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #e2b8f7, #d4bafa, #c7bcfb, #b9befb, #acbff9);
}
.gameArea{
    width: calc(100%/3);
    height: calc(100% - 20px);
    background: url(./image/bg.jpg) no-repeat;
    background-size: cover;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    float: right;
    overflow: hidden;
}
.gameRule{
    width: calc(100%/3);
    height: calc(100% - 40px);
    background: url(./image/give.png) no-repeat;
    background-size: contain;
    position: relative;
    float: right;
}
.gameScore{
    color: yellow;
    font-size: 14px;
    margin: 10px;
    float: left;
}
.scoreNum{
    font-size: 16px;
}
.gameTime{
    color:white;
    font-size: 14px;
    margin: 10px;
    float: right;
}
.timeNum{
    font-size: 16px;
}
.myAircraft{
    width: 106px;
    height: 76px;
    background:url(./image/me.png) no-repeat;
    background-size: contain;
    position: absolute;
    bottom: 20px;
    left: calc(50% - 53px);
    pointer-events: none;
}
.enemyAircraft{
    width: 110px;
    height: 80px;
    position: absolute;
    pointer-events: none;
}
.e1{
    background:url(./image/e1.png) no-repeat;
    background-size: contain;
    left: 10px;
}
.e2{
    background:url(./image/e2.png) no-repeat;
    background-size: contain;
    left: 130px;
}
.e3{
    background:url(./image/e3.png) no-repeat;
    background-size: contain;
    left: 260px;
}
.bullet{
    width: 10px;
    height: 35px;
    background: url(./image/b.png) no-repeat;
    background-size: contain;
    top: 400px;
    left: 100px;
    position: absolute;
}
.shadow{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.gamebtn{
    width: 100px;
    height: 50px;
    background:url(./image/play.png) no-repeat;
    background-size: contain;
    color: white;
    line-height: 50px;
    margin: 0 auto;
    text-align: center;
    cursor: pointer;
}
.shadowCenter{
    width: 200px;
    height: 200px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 25px;
    flex-direction: column;
    justify-content: space-around;
    display: none;
}
.flyTime {
    margin: 0 auto;
    font-size: 30px;
    color: yellow;
    font-weight: bold;
    -webkit-text-stroke: 0.6px black;
}

.flyTimeNum {
    margin: 0 auto;
    font-size: 60px;
    color: #00cd00;
    -webkit-text-stroke: 0.6px yellow;
}

.rank {
    margin: 0 auto;
    font-size: 20px;
    color: #a759d4;
}
